/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    * {
        font-size: 13px;
    }
    h1 {
        font-size: 3rem !important;
    }
    span {
        font-size: inherit;
    }
    .btn-basket i {
        font-size: 2rem;
    }
    .about {
        /* background-image: url(./assets/about-img.jpg); */
        background-attachment: fixed;
    }
    .about-text.start {
        transform: translateX(0) !important;
    }
    .food-menu {
        padding: 4rem 0;
    }
    .food-item {
        width: 50%;
        height: 25rem;
    }
    .food-category {
        overflow-y: scroll;
    }
    .food-category button {
        width: max-content;
    }
    .back-to-top {
        bottom: 6rem;
        right: 1rem;
    }
    .review-wrap.active {
        transform: unset !important;
    }
    /* MOBILE NAV */
    .mb-nav {
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        z-index: 99;
        overflow: hidden;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .mb-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 25%;
        padding: 1rem 0;
    }
    .mb-nav-item i,
    .mb-nav-item a {
        font-size: 2rem;
        color: var(--secon-color);
        z-index: 2;
        transition: .5s ease-in-out;
    }
    .mb-nav-item.active i {
        color: var(--white);
    }
    .mb-move-item {
        position: absolute;
        left: 0;
        width: 25%;
        height: 100%;
        background-color: var(--primary-color);
        transition: .5s ease-in-out;
    }
    /* END MOBILE NAV */
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .h-xs {
        display: none;
    }
}